@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #c44444;
  --on-primary: #ffffff;
  --secondary: #bc2e2e;
  --on-secondary: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --gray: #ded8d8;
  --text: #414042;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --gray-rgb: 222, 216, 216;
  --text-rgb: 65, 64, 66;
  --primary-rgb: 196, 68, 68;
}

@media screen and (max-width: 767px) {
  body {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  html {
    font-size: 6.25px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1024px) {
  html {
    font-size: 7.25px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 8.25px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1366px) {
  html {
    font-size: 8.75px;
  }
}
@media screen and (min-width: 1367px) and (max-width: 1440px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 1441px) and (max-width: 1600px) {
  html {
    font-size: 12px;
  }
}
.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.icon {
  font-size: 2.35rem;
  color: var(--primary);
  transition: scale 0.2s linear;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
}

.container {
  width: 100%;
  height: 100%;
}

.product-wrapper {
  width: 120rem;
  height: 67.5rem;
  grid-template-columns: 50% 50%;
  border-radius: 2rem;
  box-shadow: 0px 0px 150px rgba(var(--black-rgb), 0.3);
}
.product-wrapper .product-info {
  background-image: url("assets/svg/blob-1.svg"), url("assets/svg/blob-2.svg");
  background-repeat: no-repeat;
  background-size: 50rem, 50rem;
  background-position: 15rem -30rem, -15rem 60rem;
  background-color: var(--gray);
  padding: 3rem 7rem 3rem 4.5rem;
  display: grid;
  grid-template-rows: 2rem 1fr 3.75rem;
  position: relative;
}
.product-wrapper .product-info .page-info {
  top: 50%;
  right: -12.5rem;
  rotate: -90deg;
  translate: 0 -50%;
}
.product-wrapper .product-info .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-wrapper .product-info .header .brand {
  width: 12rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-wrapper .product-info .header .brand img.brand-logo {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-wrapper .product-info .header .brand .brand-text {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}
.product-wrapper .product-info .header .menu-button .menu-icon {
  color: var(--text);
}
.product-wrapper .product-info .header .menu-button:hover .menu-icon {
  scale: 1.2;
}
.product-wrapper .product-info .content {
  padding-right: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-wrapper .product-info .content .product-title {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 5.6rem;
  color: rgba(var(--text-rgb), 0.75);
}
.product-wrapper .product-info .content .product-title span {
  color: var(--primary);
}
.product-wrapper .product-info .content .product-description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.2rem;
  color: rgba(var(--text-rgb), 0.75);
}
.product-wrapper .product-info .content .product-description span {
  color: var(--primary);
}
.product-wrapper .product-info .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-wrapper .product-info .footer .shopping-advantages {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.product-wrapper .product-info .footer .shopping-advantages .advantage {
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgba(var(--primary-rgb), 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-wrapper .product-info .footer .shopping-advantages .advantage .tooltip {
  top: -1.875rem;
  opacity: 0;
  visibility: hidden;
}
.product-wrapper .product-info .footer .shopping-advantages .advantage:hover .icon {
  scale: 1.1;
}
.product-wrapper .product-info .footer .shopping-advantages .advantage:hover .tooltip {
  top: -3.75rem;
  opacity: 1;
  visibility: visible;
}
.product-wrapper .product-info button.btn {
  width: 18.5rem;
  height: 3.75rem;
  background-color: var(--primary);
  padding: 0 2.25rem;
  border-radius: 1.875rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.2s;
}
.product-wrapper .product-info button.btn:hover {
  background-color: #a23333;
}
.product-wrapper .product-info button.btn:active {
  scale: 0.99;
}
.product-wrapper .product-info button.btn .icon {
  color: var(--on-primary);
  font-size: 2.2rem;
}
.product-wrapper .product-info button.btn span {
  color: var(--on-primary);
  font-weight: 600;
  font-size: 1rem;
  line-height: 173.5%;
}
.product-wrapper .product-img {
  background: url("assets/svg/blob-3.svg") no-repeat 60% -900%;
  background-color: var(--secondary);
  padding: 3rem 3rem;
  display: grid;
  grid-template-rows: 3.125rem 1fr;
}
.product-wrapper .product-img .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product-wrapper .product-img .content {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.product-wrapper .product-img .content img {
  width: 55rem;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.product-wrapper .product-img .page-info-1 h1, .product-wrapper .product-img .page-info-2 h1 {
  font-weight: 800;
  font-size: 9rem;
  color: rgba(var(--white-rgb), 0.06);
}
.product-wrapper .product-img .page-info-1 {
  top: 18%;
  left: 16%;
}
.product-wrapper .product-img .page-info-2 {
  top: 26%;
  right: 10%;
}
.product-wrapper .page-wrapper {
  perspective: 6000px;
  position: relative;
}
.product-wrapper .page-wrapper .page {
  position: absolute;
  inset: 0;
  transform-origin: left center;
  transition: all 1s;
  transform-style: preserve-3d;
}
.product-wrapper .page-wrapper .page .front-face, .product-wrapper .page-wrapper .page .back-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}
.product-wrapper .page-wrapper .page .back-face {
  rotate: y 180deg;
}
.product-wrapper .page-wrapper .page.flipped {
  rotate: y -180deg;
}
.product-wrapper .tooltip {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 3rem;
  min-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--primary);
  border-radius: 1.5rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: opacity 0.1s, visibility 0s, top 0.2s;
  z-index: 99;
}
.product-wrapper .tooltip span {
  font-weight: 600;
  font-size: 1rem;
  line-height: 173.5%;
  color: var(--on-primary);
}
.product-wrapper .tooltip::after {
  content: "";
  width: 0;
  height: 0;
  border: 0.75rem solid transparent;
  border-top-color: var(--primary);
  position: absolute;
  bottom: calc((1.5rem - 2px) * -1);
  left: 50%;
  translate: -50% 0;
}
.product-wrapper .page-info {
  position: absolute;
  pointer-events: none;
}
.product-wrapper .page-info h1 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 7.5rem;
  letter-spacing: 0.1em;
  color: rgba(var(--primary-rgb), 0.1);
}
.product-wrapper .next-page-button {
  height: 3.125rem;
  cursor: pointer;
}
.product-wrapper .next-page-button .next-page-icon {
  font-size: 3.125rem;
  color: var(--white);
}
.product-wrapper .next-page-button:hover .next-page-icon {
  scale: 1.1;
}
.product-wrapper .prev-page-button {
  height: 3.125rem;
  cursor: pointer;
}
.product-wrapper .prev-page-button .prev-page-icon {
  font-size: 3.125rem;
  color: var(--text);
}
.product-wrapper .prev-page-button:hover .prev-page-icon {
  scale: 1.1;
}/*# sourceMappingURL=style.css.map */