@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #c44444;
  --white: #ffffff;
  --black: #000000;
  --gray: #ded8d8;
  --text: #414042;
  --white-rgb: 255, 255, 255;
  --black-rgb: 0, 0, 0;
  --gray-rgb: 222, 216, 216;
  --text-rgb: 65, 64, 66;
  --primary-rgb: 196, 68, 68;
}

html {
  font-size: 16px;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.grid {
  display: grid;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.icon {
  font-size: 2.35rem;
  color: var(--primary);
  transition: scale 0.2s linear;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary);
}

.container {
  width: 100%;
  height: 100%;
}

.product-wrapper {
  width: 120rem;
  height: 67.5rem;
  grid-template-columns: 50% 50%;
  border-radius: 2rem;
  box-shadow: 0px 0px 150px rgba(var(--black-rgb), 0.3);
}
.product-wrapper {
  perspective: 5000px;
}
.product-wrapper .page-wrapper {
  position: relative;
}
.product-wrapper .page-wrapper .page {
  position: absolute;
  inset: 0;
  transform-origin: left center;
  transition: all 1s;
  transform-style: preserve-3d;
}
.product-wrapper .page-wrapper .page .front-face, .product-wrapper .page-wrapper .page .back-face {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
}
.product-wrapper .page-wrapper .page .back-face {
  rotate: y 180deg;
}
.product-wrapper .page-wrapper .page.flipped {
  rotate: y -180deg;
}
.product-wrapper .product-info {
  background: url("assets/svg/blob-1.svg") no-repeat 125% -70%, url("assets/svg/blob-2.svg") no-repeat -45% 210%;
  background-color: var(--gray);
  padding: 3rem 2rem 3rem 4.5rem;
  display: grid;
  grid-template-rows: 2rem 1fr 3.75rem;
}
.product-wrapper .product-info .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-wrapper .product-info .header .brand {
  width: 12rem;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-wrapper .product-info .header .brand img.brand-logo {
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-wrapper .product-info .header .brand .brand-text {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.85rem;
  letter-spacing: 0.1em;
}
.product-wrapper .product-info .header .menu-button .menu-icon {
  color: var(--text);
}
.product-wrapper .product-info .header .menu-button:hover .menu-icon {
  scale: 1.2;
}
.product-wrapper .product-info .content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.product-wrapper .product-info .content .product-title {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 5.6rem;
  color: rgba(var(--text-rgb), 0.75);
}
.product-wrapper .product-info .content .product-title span {
  color: var(--primary);
}
.product-wrapper .product-info .content .product-description {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2.2rem;
  color: rgba(var(--text-rgb), 0.75);
}
.product-wrapper .product-info .content .product-description span {
  color: var(--primary);
}
.product-wrapper .product-info .footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.product-wrapper .product-info .footer .shopping-advantages {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-wrapper .product-info .footer .shopping-advantages .advantage {
  width: 3.75rem;
  height: 3.75rem;
  background-color: rgba(var(--primary-rgb), 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-wrapper .product-info .footer .shopping-advantages .advantage:hover .icon {
  scale: 1.1;
}/*# sourceMappingURL=style.css.map */