& .footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & .shopping-advantages {
    width: calc($product-info-footer-advantage-width * 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    & .advantage {
      width: $product-info-footer-advantage-width;
      height: $product-info-footer-advantage-height;
      background-color: $product-info-footer-advantage-bg-color;
      border-radius: $product-info-footer-advantage-border-raduis;
      display: flex;
      justify-content: center;
      align-items: center;
      & .tooltip {
        top: calc(($product-info-footer-advantage-height / 2) * -1);
        opacity: 0;
        visibility: hidden;
      }
      &:hover {
        & .icon {
          scale: 1.1;
        }
        & .tooltip {
          top: calc($product-info-footer-advantage-height * -1);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
