& .product-info {
  background-image: url("assets/svg/blob-1.svg"), url("assets/svg/blob-2.svg");
  background-repeat: no-repeat;
  background-size: $product-info-bg-blob-1-size, $product-info-bg-blob-2-size;
  background-position: $product-info-bg-blob-1-position,
    $product-info-bg-blob-2-position;
  background-color: $product-info-bg-color;
  padding: $product-info-padding-top $product-info-padding-right
    $product-info-padding-bottom $product-info-padding-left;
  border-radius: $product-wrapper-border-radius 0 0
    $product-wrapper-border-radius;
  display: grid;
  grid-template-rows: $product-info-header-height 1fr $product-info-footer-height;
  position: relative;
  & .page-info {
    top: $product-page-info-position-top;
    right: $product-page-info-position-right;
    rotate: $product-page-info-rotate-angle;
    translate: 0 -50%;
  }
  @import "header";
  @import "content";
  @import "footer";
  @import "button";
}
