$page-info-position-top: 50%;
$page-info-position-right: -12.5rem;
$page-info-rotate-angle: -90deg;
$page-info-text-weight: 600;
$page-info-text-size: 5rem;
$page-info-text-line-height: 7.5rem;
$page-info-text-letter-spacing: 0.1em;
.page-info {
  position: absolute;
  top: $page-info-position-top;
  right: $page-info-position-right;
  rotate: $page-info-rotate-angle;
  translate: 0 -50%;
  pointer-events: none;
  & h1 {
    font-weight: $page-info-text-weight;
    font-size: $page-info-text-size;
    line-height: $page-info-text-line-height;
    letter-spacing: $page-info-text-letter-spacing;
    color: rgba($color: var(--primary-rgb), $alpha: 0.1);
  }
}
