& .product-img {
  background: url("assets/svg/blob-3.svg") no-repeat
    $product-img-bg-blob-position;
  background-color: $product-img-bg-color;
  padding: $product-img-padding-y $product-img-padding-x;
  display: grid;
  grid-template-rows: $product-img-header-height 1fr;
  // product img header
  @import "header";
  // product img content
  @import "content";
}
