& .product-img {
  background-image: url("assets/svg/blob-3.svg");
  background-repeat: no-repeat;
  background-size: $product-img-bg-blob-size;
  background-position: $product-img-bg-blob-position;
  background-color: $product-img-bg-color;
  padding: $product-img-padding-y $product-img-padding-x;
  display: grid;
  grid-template-rows: $product-img-header-height 1fr;
  overflow: hidden;
  // product img header
  @import "header";
  // product img content
  @import "content";
}
