@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
$colors: (
  "white": #ffffff,
  "black": #000000,
  "text": #414042,
  "primary": #c44444,
);

:root {
  --primary: #{map-get($map: $colors, $key: "primary")};
  --white: #{map-get($map: $colors, $key: "white")};
  --black: #{map-get($map: $colors, $key: "black")};
  --text: #{map-get($map: $colors, $key: "text")};
  //rgb colors
  --white-rgb: #{hexToRGB(map-get($map: $colors, $key: "white"))};
  --black-rgb: #{hexToRGB(map-get($map: $colors, $key: "black"))};
  --primary-rgb: #{hexToRGB(map-get($map: $colors, $key: "primary"))};
  //dark & light colors
  --primary-dark-10: #{darken(map-get($map: $colors, $key: "primary"), 10)};
  --primary-light-10: #{lighten(map-get($map: $colors, $key: "primary"), 10)};
}
