@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
$colors: (
  "white": #ffffff,
  "black": #000000,
  "body-bg-color": #c44444,
);

body {
  --body-bg-color: #{map-get($map: $colors, $key: "body-bg-color")};
  --black-rgb: #{hexToRGB(map-get($map: $colors, $key: "black"))};
}
