@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}
$colors: (
  "primary": #c44444,
  "on-primary": #ffffff,
  "secondary": #bc2e2e,
  "on-secondary": #ffffff,
  "white": #ffffff,
  "black": #000000,
  "gray": #ded8d8,
  "text": #414042,
);

:root {
  --primary: #{map-get($map: $colors, $key: "primary")};
  --on-primary: #{map-get($map: $colors, $key: "on-primary")};
  --secondary: #{map-get($map: $colors, $key: "secondary")};
  --on-secondary: #{map-get($map: $colors, $key: "on-secondary")};
  --white: #{map-get($map: $colors, $key: "white")};
  --black: #{map-get($map: $colors, $key: "black")};
  --gray: #{map-get($map: $colors, $key: "gray")};
  --text: #{map-get($map: $colors, $key: "text")};
  //rgb colors
  --white-rgb: #{hexToRGB(map-get($map: $colors, $key: "white"))};
  --on-primary-rgb: #{hexToRGB(map-get($map: $colors, $key: "on-primary"))};
  --black-rgb: #{hexToRGB(map-get($map: $colors, $key: "black"))};
  --gray-rgb: #{hexToRGB(map-get($map: $colors, $key: "gray"))};
  --text-rgb: #{hexToRGB(map-get($map: $colors, $key: "text"))};
  --primary-rgb: #{hexToRGB(map-get($map: $colors, $key: "primary"))};
}
