@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 16px;
}
//common css
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.grid {
  display: grid;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.icon {
  font-size: $icon-size;
  color: $icon-color;
  transition: scale $icon-transition-time linear;
}

//mixins

//=========================

body {
  height: $body-height;
  font-family: $body-font-family;
  background-color: $body-background-color;
}

.container {
  width: $container-width;
  height: $container-height;
}
.product-wrapper {
  width: $product-wrapper-width;
  height: $product-wrapper-height;
  grid-template-columns: 50% 50%;
  border-radius: $product-wrapper-border-radius;
  box-shadow: $product-wrapper-box-shadow;
  //product info
  @import "product-info";
  //product img
  @import "product-img";
  //page flip
  @import "page-flip";
  //tooltip
  @import "tooltip";
  //page info
  @import "page-info";
  //next - prev page buttons
  @import "next-prev-page-button";
}
