.next-page-button,
.prev-page-button {
  height: $product-img-header-height;
  cursor: pointer;
  & .icon {
    font-size: $next-page-button-size;
    color: $next-page-button-color;
  }
  &:hover {
    & .icon {
      scale: 1.1;
    }
  }
}
.prev-page-button {
  & .icon {
    color: $prev-page-button-color;
  }
}
