//body
$body-height: 100vh;
$body-background-color: var(--primary);
$body-font-family: "Poppins", sans-serif;

//container
$container-width: 100%;
$container-height: 100%;

//product container
$product-wrapper-width: 120rem;
$product-wrapper-height: 67.5rem;
$product-wrapper-border-radius: 2rem;
$product-wrapper-box-shadow: 0px 0px 150px rgba(var(--black-rgb), 0.3);
