//body
$body-height: 100vh;
$body-background-color: var(--primary);
$body-font-family: "Poppins", sans-serif;

//container
$container-width: 100%;
$container-height: 100%;

//product container
$product-wrapper-width: 120rem;
$product-wrapper-height: 67.5rem;
$product-wrapper-border-radius: 2rem;
$product-wrapper-box-shadow: 0px 0px 150px rgba(var(--black-rgb), 0.3);

//====product info=====
$product-info-bg-color: var(--gray);
$product-info-bg-blob-1-size: 50rem;
$product-info-bg-blob-1-position: 15rem -30rem;
$product-info-bg-blob-2-size: 50rem;
$product-info-bg-blob-2-position: -25rem 60rem;
$product-info-padding-top: 3rem;
$product-info-padding-right: 2rem;
$product-info-padding-bottom: 3rem;
$product-info-padding-left: 4.5rem;
//****product info header
$product-info-header-height: 2rem;
$product-info-brand-width: 12rem;
$product-info-brand-height: 2rem;
//brand text
$product-info-brand-text-weight: 600;
$product-info-brand-text-size: 1.25rem;
$product-info-brand-text-line-height: 1.5rem;
$product-info-brand-text-letter-spacing: 0.1em;
//menu button
$menu-button-icon-color: var(--text);
//*****content
$product-info-padding-right: 7rem;
//product title
$product-title-color: rgba(
  $color: var(--text-rgb),
  $alpha: 0.75,
);
$product-title-second-color: var(--primary);
$product-title-text-weight: 700;
$product-title-text-size: 3.75rem;
$product-title-line-height: 5.6rem;
//product description
$product-description-text-weight: 400;
$product-description-text-size: 1.25rem;
$product-description-line-height: 2.2rem;
//*****footer
$product-info-footer-height: 3.75rem;
//shopping advantages
$product-info-footer-advantage-width: 3.75rem;
$product-info-footer-advantage-height: 3.75rem;
$product-info-footer-advantage-bg-color: rgba(var(--primary-rgb), 0.3);
$product-info-footer-advantage-border-raduis: 50%;
//*****page info
$page-info-text-weight: 600;
$page-info-text-size: 5rem;
$page-info-text-line-height: 7.5rem;
$page-info-text-letter-spacing: 0.1em;
//product page info
$product-page-info-position-top: 50%;
$product-page-info-position-right: -12.5rem;
$product-page-info-rotate-angle: -90deg;
//==============================================
//=====product image=====
$product-img-padding-y: 3rem;
$product-img-padding-x: 3rem;
$product-img-bg-blob-size: 80rem;
$product-img-bg-blob-position: -5rem 27rem;
$product-img-bg-color: var(--secondary);
$product-img-header-height: 3.125rem;
//page bg info (34 - 36)
$product-img-bg-info-text-weight: 800;
$product-img-bg-info-text-size: 9rem;
$product-img-bg-info-text-color: rgba(
  $color: var(--white-rgb),
  $alpha: 0.06,
);
//page info img page 1 positions
$product-img-front-bg-info-text-1-position-top: 18%;
$product-img-front-bg-info-text-1-position-left: 16%;
$product-img-front-bg-info-text-2-position-top: 26%;
$product-img-front-bg-info-text-2-position-right: 10%;
//===========================
//=====button=====
$btn-width: 18.5rem;
$btn-height: 3.75rem;
$btn-bg-color: var(--primary);
$btn-icon-size: 2.2rem;
$btn-icon-color: var(--on-primary);
$btn-text-weight: 600;
$btn-text-size: 1rem;
$btn-text-line-height: 173.5%;
$btn-text-color: var(--on-primary);
//===========================
//=====tooltip=====
$tooltip-min-width: 3rem;
$tooltip-min-height: 1.5rem;
$tooltip-min-padding-y: 0.5rem;
$tooltip-min-padding-x: 0.75rem;
$tooltip-bg-color: var(--primary);
$tooltip-arrow-size: 0.75rem;
//===========================
//icons
$icon-size: 2.35rem;
$icon-color: var(--primary);

//transition
$icon-transition-time: 0.2s;
$transition-time: 0.2s;
